@mixin full($w: 100vw, $h: 100vh) {
    width: $w;
    height: $h;
  }
  
  @mixin flex($jc: center, $ai: center, $fd: row, $fw: wrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
  }

  $grey: #797979;
  $radius: 30px;
  $primary: #fa7c28;
  $secondary: orange;
  
  $color: #dddddd;
  $breakpoints: (
    mobile : 0px, 
    tablet : 589px,
    desktop: 899px,
  );
  
  $maxPoints: (
      mobile: 590px,
      tablet: 1023px,
    desktop: 2080px
  
  );
  
  @mixin media($keys...) {
      @each $key in $keys {
          @media screen and (min-width: map-get($breakpoints, $key)) and (max-width: map-get($maxPoints, $key)) {
              @content;
          }
      }
  }